@font-face {
  font-family: Mulish;
  src: url(./Mulish.ttf);
}

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#root,
.container {
  margin: 0;
  overflow: hidden;
}

.container,
.content {
  height: 100%;
  max-height: 100vh;
  position: relative;
}

#root {
  height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  height: 60px;
}

.top-bar {
  cursor: pointer;
  width: 100%;
  height: auto;
  margin-bottom: -4px;
  z-index: 999;
}

.map-container {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.bg-map {
  background-image: url("../img/bg-map.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #2ea89e;
}

.map-image {
  height: auto;
  width: 320px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.icon-btn {
  position: absolute;
  z-index: 998;
  background-color: transparent;
  outline: none;
  border: none;
  width: 90px;
  height: 90px;
  display: none;
}

.icon-btn.marker1 {
  display: block;
  top: 9%;
  left: 50%;
}

.icon-btn.marker2 {
  display: block;
  top: 31%;
  left: 62%;
}

.icon-btn.marker3 {
  display: block;
  top: 39%;
  left: 53%;
}

.icon-btn.marker4 {
  display: block;
  top: 45%;
  left: 39%;
}

.icon-btn.marker5 {
  display: block;
  top: 53%;
  left: 24%;
}

.icon-btn.marker6 {
  display: block;
  top: 62%;
  left: 1%;
}

.marker {
  height: 90px;
  width: 90px;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid transparent;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    border: 2px solid green;
    border-radius: 50%;
    box-shadow: 1px 1px 1px green;
  }
}

.marker-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.initial-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 15px;
}

.pumpkin-info {
  height: 60px;
  width: 27px;
  margin-right: 12px;
}

.text-info {
  font-size: 14px;
  padding: 16px;
  background-color: #fff;
  border-radius: 25px;
}

.pumpkin-user {
  height: 50px;
  position: absolute;
  z-index: 999;
  display: none;
}

a-scene {
  min-height: 90vh;
  z-index: -1;
}

.a-canvas{
  height: 45vh!important;
  position: absolute;
  left: calc(50% - 22.5vw);
  width: 45vw!important;
}

.camera-frame {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  right: 0;
  bottom: 0;
  padding: 24px;
  text-align: center;
  z-index: 999;
}

#checkedImageTracking {
  position: absolute;
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.close-preview-button {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 24px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px black;
  font-weight: 900;
  cursor: pointer;
}

.preview {
  height: 70vh;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, calc(-50% - 56px));
  -ms-transform: translate(-50%, calc(-50% - 56px));
  transform: translate(-50%, calc(-50% - 56px));
  border: 5px solid #fff;
  border-radius: 16px;
}

#previewContainer .bottom-bar {
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 8px;
  padding-top: 0;
  margin: 0;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

#previewContainer #imagePreview {
  height: 70vh;
  position: relative;
  top: 20px;
}

.preview-box button#closePreviewButton {
  top: 20px;
}

button#actionButton {
  position: relative;
  width: 100px;
}

button#downloadButton {
  padding: 0;
  position: relative;
}

.icon-button img {
  height: 36px !important;
}

.sticker-container {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.header-container {
  text-align: center;
  padding: 48px 24px;
  padding-top: 0;
  font-size: 18px;
}

.sticker-images-container {
  display: flex;
  justify-content: space-evenly;
}

.sticker-images {
  height: 100px;
}

.sticker-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.sticker-btn-container button {
  width: 230px;
  margin: 0 auto;
  outline: none;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 16px;
  cursor: pointer;
}

button.btn-green {
  background-color: #52b160;
  margin-bottom: 12px;
}

.btn-gray {
  background-color: #919191;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.sticker-container-save {
  height: 60%;
}

.sticker-footer {
  position: fixed;
  bottom: 8px;
  width: 100%;
}

.sticker-footer-container {
  display: flex;
  justify-content: center;
}

.sticker-footer-images-container {
  width: 100px;
  text-align: center;
  font-size: 15px;
}

img.sticker-footer-images {
  height: 70px;
}

.android-icons {
  border-radius: 8px;
}

.ios-icons {
  border-radius: 16px;
}

.prompt-container{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: center;
}

.browser-logo{
	height: 150px;
	margin: 0 auto;
	display: block;
}

.my-3{
	margin: 1.5em 0;
}

.mb-2{
	margin-bottom: 0.5em;
}

.copy-link-container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
}

#copy-input-link{
	height: 45px;
	border: 1px solid #000;
	border-radius: 5px 0 0 5px;
	border-right: none;
	padding: 0.5em 1em;
	color: #000;
}

.copy-button{
	width: 50px;
	height: 100%;
	border: 1px solid #000;
	background-color: #FFF;
	margin-left: -1px;
	border-radius: 0 5px 5px 0;
	font-size: 12px;
	cursor: pointer;
	padding: 0;
	text-align: center;
}

canvas.deepar { 
  border: 0px none; 
  background-color: black; 
  display: block; 
  margin: auto; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#loader-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

.loader {

  display: inline-block;
  position: relative;
  top: 42%;
  z-index: 1000;

  width: 90px;
  height: 90px;
  margin: auto;
  background-color: #00f;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@media only screen and (max-width: 320px) {
  .icon-btn.marker2 {
    display: block;
    top: 25%;
  }

  .icon-btn.marker3 {
    display: block;
    top: 34%;
    left: 50%;
  }

  .icon-btn.marker4 {
    display: block;
    top: 41%;
    left: 40%;
  }

  .icon-btn.marker5 {
    display: block;
    top: 48%;
    left: 20%;
  }

  .icon-btn.marker6 {
    display: block;
    top: 56%;
  }
}
